<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDsVFJRiP5RfCZm5JrbmqY189IdjeOXHP0</string>
	<key>GCM_SENDER_ID</key>
	<string>212272178808</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.FirebaseLearning</string>
	<key>PROJECT_ID</key>
	<string>fir-learning-6e8c2</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-learning-6e8c2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:212272178808:ios:426c5b6cffe35a249e6f8d</string>
</dict>
</plist>